:root {
    --kleurPrimary: #E3A010;
    --kleurSecondary: #E3BA10;
    --kleurTertiary: #E38510;
    --kleurQuadratary: #E36010;
    --kleurSeptary: #E3D310;
    --kleurOctary: #E3B85C;
    --kleurText: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    /* background-color: var(--kleurPrimary); */
    
    color: var(--kleurText);
    animation-fill-mode: both;
    
    background-image: url("../images/Tabletop.jpg");
}

.zoomOut {
    animation-name: zoomOut;
    animation-duration: 2s;
    animation-timing-function: linear;
}

.zoomIn {
    animation-name: zoomIn;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes zoomIn { 
    0% {transform: scale(0.9);}     
    100% {transform: scale(1)}
}

@keyframes zoomOut { 
    0% {transform: scale(1);}     
    100% {transform: scale(0.9)}
}

h1 {
    text-decoration: underline;
}

.icoontje {
    width:5px;
    height:5px;
}

#bookCover h1 , #bookCoverFrontInvertedFront h1{
    color: white;
}

#book {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 95vh;
    position: relative;
    /* background-color: var(--kleurSecondary); */
    z-index: 0;
    border-radius: 15px;
}

#bookCover, #bookCoverBack, #bookCoverFrontInvertedFront, #bookCoverFrontInvertedBack, #bookBackBack{
    width: 50%;
    height: 100%;
    background-color: black;
    position: absolute;
    left: 50%;
    text-align: center;
    align-content: center;
    border-radius: 0px 15px 15px 0px;
    transform-style: preserve-3d;
    perspective: 1000px;
    transform-origin: left;
    animation-fill-mode: both;
    border: 2px solid white;
}

/* Alle zwarte gedeeltes van het boek */

#bookCover {
    z-index: 3;
    backface-visibility: hidden;
    transform: rotateY(0deg); /* Starts closed */
    
}

#bookCoverBack {
    z-index: 1;
    background: black;
    transform: rotateY(0deg); /* Starts closed */
}

#bookCoverFrontInvertedBack {
    transform: rotateY(180deg);
    backface-visibility: hidden;
    z-index: 1;
}

#bookCoverFrontInvertedFront {
    transform: rotateY(180deg);
    z-index: 0;
}

#bookBackBack{
    z-index: 1;
}


/* Gele paginas */
#page {
    width: 98%;
    height: 98%;
    position: relative;
    left: -0.25%;
}

#pageRight, #pageLeft, #pageLeftBack, #pageRightBack, #pageLeftMain, #pageRightMain{
    width: 100%;
    height: 100%;
    /* background-color: var(--kleurTertiary); */
    color: var(--kleurText);
    text-align: center;
    align-content: center;
    position: absolute;
    left: 0%;
    border-radius: 0px 2px 2px 0px;
    transform-style: preserve-3d;
    perspective: 1000px;
    transform-origin: left;
    animation-fill-mode: both;
    border: 2px dashed white;
    background-image: url("../images/paper-texture3.png");

}

article {
    animation-name: makeAppear;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes makeAppear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.inverted {
    transform: rotateY(180deg); 
}
#pageRightBack {
    backface-visibility: visible;
    z-index: 2;
}

#pageRight{
    z-index: 3;
}

#pageLeftBack {
    transform: rotateY(180deg);
    backface-visibility: hidden;
    z-index: 5;
}

#pageLeft {
    z-index: 4;
    transform: scalex(-1);
}

#pageLeft h1 {
    transform: rotateY(180deg);
}

#bookCover h1 {
    color: var(--kleurTertiary);
}

/* animatie om het boek te openen */
.openBookAnimation {
    animation-name: openBook;
    animation-duration: 2s;
    animation-timing-function: linear;
}

/* animatie om het boek the sluiten */
.closeBookAnimation {
    animation-name: openBook;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
}

@keyframes openBook { 
    0% { transform: rotateY(0deg);}     
    100% { transform: rotateY(180deg);}
}

#bookCover button {
    width: auto;
    height: auto;
    margin: auto;
}

footer {
    width: 6vw;
    height: 6vh;   
    position: absolute;
    padding: auto;
    right: 22.5vw;
    bottom: 3vh;
    z-index: 10;
}

button {
    font-weight: 900;
    background-color: var(--kleurOctary);
}

button:hover {
    background-color: var(--kleurQuadratary);
}

#contactKnop {
    width: auto;
    height: auto;
    text-align: center;
    opacity: 0.5;
    background-color: var(--kleurSeptary);
    font-weight: 900;
    margin: 100px
}

#contactKnop:hover {
    opacity: 0.95;
    background-color: var(--kleurQuadratary);
}

#returnToMain {
    width: auto;
    height: auto;
    text-align: center;
    opacity: 0.5;
    background-color: var(--kleurSeptary);
    font-weight: 900;
}

#returnToMain:hover {
    opacity: 0.95;
    background-color: var(--kleurQuadratary);
}