body {
    transform: scale(0.9);
}

form {
    margin: 25px;
}

input {
    margin: 10px;
}

#searchRecipeKnop{
    font-weight: 900;
    background-color: var(--kleurOctary);
}

#searchRecipeKnop:hover {
    background-color: var(--kleurQuadratary);
}

