body {
    transform: scale(0.95);
}

form {
    margin: 25px;
}

input {
    margin: 10px;
}

#searchRecipeKnop{
    font-weight: 900;
    background-color: var(--kleurOctary);
}

#searchRecipeKnop:hover {
    background-color: var(--kleurQuadratary);
}

button {
    margin: 15px;
}

@media (max-width: 768px) {

    #book {
      transform: translateX(-25%);
      width: 100vw;
    }

  }

  @media (max-width: 768px) {
    #book  {
        transform: translateX(-45%);
        width: 100%;
    }
    #bookBackBack{
        width: 85vw;
    }
    #bookCover, #bookCoverBack, #bookCoverFrontInvertedFront, #bookCoverFrontInvertedBack, #bookBackBack, #bookCoverFrontInvertedBack{
        width: 85vw;
    }
  }