#bookCover, #bookCoverBack{
    width: 50%;
    height: 100%;
    background-color: black;
    position: absolute;
    left: 50%;
    text-align: center;
    align-content: center;
    border-radius: 0px 15px 15px 0px;
    transform-style: preserve-3d;
    animation-name: openBook;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    border: 2px solid white;
}